<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applibros">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >
        <!--
        android:theme="@style/Theme.AppLibros"
        -->
        <activity
            android:name=".Buscados"
            android:exported="false" />

        <activity
            android:name=".Buscar"
            android:exported="false" />

        <activity
            android:name=".Editar"
            android:exported="false" />
        <activity
            android:name=".DetallesLibro"
            android:exported="false" />
        <activity
            android:name=".Inspiracion"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Aniadir"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leidos"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leyendo"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParaLeer"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Deseados"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>